<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>PTO Application</title>
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
<script defer
	src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
	$(function() {
		$("#fromDate").datepicker({
			dateFormat : $("#fromDate").attr("format")
		});
		$("#toDate").datepicker({
			dateFormat : $("#fromDate").attr("format")
		});
	});
</script>
</head>

<body>
	<div th:replace="navigation :: navigation"></div>
	<section th:replace="navigation :: greeting"></section>


	<section class="section">
		<div class="container">
			<h1 class="title">Create PTO</h1>


			<form action="#" th:action="@{/PTO}" th:object="${pto}" method="post">

				<div class="field">
					<label class="label">From date</label>
					<div class="control has-icons-left">
						<input class="input is-rounded" type="text" id="fromDate"
							format="yy-mm-dd" th:field="*{fromDate}" max="10" maxlength="10" />
						<span class="icon is-left"> <i class="far fa-calendar"></i>
						</span>
					</div>
				</div>

				<div class="field">
					<label class="label">To date</label>
					<div class="control has-icons-left">
						<input class="input is-rounded" type="text" id="toDate"
							format="yy-mm-dd" th:field="*{toDate}" /> <span
							class="icon is-left"> <i class="far fa-calendar"></i></span>
					</div>
				</div>

				<div class="field">
					<label class="label">Comment</label>
					<div class="control has-icons-left">
						<input class="input is-rounded" type="text" id="comment"
							th:field="*{comment}" /> <span class="icon is-left"> <i
							class="far fa-comment"></i></span>
					</div>
				</div>
				<div class="control">
					<button class="button is-primary">Create PTO Request</button>
				</div>
			</form>



		</div>
	</section>
</body>

</html>