<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>PTO Application</title>
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
<script defer
	src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
	<div th:replace="navigation :: navigation"></div>
	<section th:replace="navigation :: greeting"></section>

	<section class="section">
		<div class="container">
			<h1 class="title">PTO requests</h1>

			<table class="table is-striped is-narrow is-hoverable is-bordered">
				<thead>
					<tr>
						<th>Requester</th>
						<th>From Date</th>
						<th>To Date</th>
						<th>Comment</th>
						<th></th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Requester</th>
						<th>From Date</th>
						<th>To Date</th>
						<th>Comment</th>
						<th></th>
					</tr>
				</tfoot>
				<tbody>
					<tr th:each="request : ${requestList}">
						<td
							th:text="${request.requester.firstname} + ' ' + ${request.requester.lastname}">Mike</td>
						<td th:text="${request.fromDate}">08.02.2018</td>
						<td th:text="${request.toDate}">09.02.2018</td>
						<td th:text="${request.comment}">Birthday</td>
						<td>
							<form th:action="@{/PTO/} + ${request.id}" th:method="delete">
								<button type="submit" class="button is-small">
								<span class="icon is-small">
									<i class="fas fa-trash"></i>
									</span>
								</button>
							</form> 
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>

</body>

</html>